@layer base {
  :root {
    --purple-100: rgba(89, 31, 255, 100%);
    --purple-200: rgba(89, 31, 255, 80%);
    --purple-300: rgba(133, 129, 255, 100%);
    --purple-400: rgba(133, 129, 255, 48%);
    --purple-500: rgba(133, 129, 255, 32%);
    --purple-600: rgba(133, 129, 255, 16%);
    --purple-700: rgba(133, 129, 255, 8%);
    --purple-800: rgba(133, 129, 255, 4%);

    --orange-100: rgba(255, 200, 0, 100%);
    --orange-200: rgba(255, 200, 0, 80%);

    --red-100: rgba(247, 114, 114, 100%);

    --green-100: rgba(72, 240, 191, 100%);
    --green-200: rgba(157, 255, 191, 48%);

    --pink-100: rgba(255, 91, 225, 100%);
    --pink-200: rgba(255, 91, 225, 64%);

    --brown-100: rgba(75, 61, 11, 100%);

    --black-100: rgba(0, 0, 0, 100%);
    --black-200: rgba(0, 0, 0, 80%);
    --black-300: rgba(0, 0, 0, 64%);
    --black-400: rgba(0, 0, 0, 48%);
    --black-500: rgba(0, 0, 0, 32%);
    --black-600: rgba(0, 0, 0, 24%);
    --black-700: rgba(0, 0, 0, 16%);
    --black-800: rgba(0, 0, 0, 8%);
    --black-900: rgba(0, 0, 0, 4%);

    --white-100: rgba(255, 255, 255, 100%);
    --white-200: rgba(255, 255, 255, 80%);
    --white-300: rgba(255, 255, 255, 64%);
    --white-400: rgba(255, 255, 255, 48%);
    --white-500: rgba(255, 255, 255, 32%);
    --white-600: rgba(255, 255, 255, 24%);
    --white-700: rgba(255, 255, 255, 16%);
    --white-800: rgba(255, 255, 255, 8%);
    --white-900: rgba(255, 255, 255, 4%);
  }
}
