@layer base {
  :root {
    --radius: 0.5rem;

    --purple-100: rgba(89, 31, 255, 100%);
    --purple-200: rgba(89, 31, 255, 80%);
    --purple-300: rgba(89, 31, 255, 64%);
    --purple-400: rgba(89, 31, 255, 48%);
    --purple-500: rgba(89, 31, 255, 32%);
    --purple-600: rgba(89, 31, 255, 24%);
    --purple-700: rgba(89, 31, 255, 16%);
    --purple-800: rgba(89, 31, 255, 8%);
    --purple-900: rgba(89, 31, 255, 4%);

    --mauve-100: rgba(133, 129, 255, 100%);
    --mauve-200: rgba(133, 129, 255, 80%);
    --mauve-300: rgba(133, 129, 255, 64%);
    --mauve-400: rgba(133, 129, 255, 48%);
    --mauve-500: rgba(133, 129, 255, 32%);
    --mauve-600: rgba(133, 129, 255, 24%);
    --mauve-700: rgba(133, 129, 255, 16%);
    --mauve-800: rgba(133, 129, 255, 8%);
    --mauve-900: rgba(133, 129, 255, 4%);

    --yellow-100: rgba(255, 200, 0, 100%);
    --yellow-200: rgba(255, 200, 0, 80%);
    --yellow-300: rgba(255, 200, 0, 64%);
    --yellow-400: rgba(255, 200, 0, 48%);
    --yellow-500: rgba(255, 200, 0, 32%);
    --yellow-600: rgba(255, 200, 0, 24%);
    --yellow-700: rgba(255, 200, 0, 16%);
    --yellow-800: rgba(255, 200, 0, 8%);
    --yellow-900: rgba(255, 200, 0, 4%);

    --red-100: rgba(247, 114, 114, 100%);
    --red-200: rgba(247, 114, 114, 80%);
    --red-300: rgba(247, 114, 114, 64%);
    --red-400: rgba(247, 114, 114, 48%);
    --red-500: rgba(247, 114, 114, 32%);
    --red-600: rgba(247, 114, 114, 24%);
    --red-700: rgba(247, 114, 114, 16%);
    --red-800: rgba(247, 114, 114, 8%);
    --red-900: rgba(247, 114, 114, 4%);

    --green-100: rgba(72, 240, 149, 100%);
    --green-200: rgba(72, 240, 149, 80%);
    --green-300: rgba(72, 240, 149, 64%);
    --green-400: rgba(72, 240, 149, 48%);
    --green-500: rgba(72, 240, 149, 32%);
    --green-600: rgba(72, 240, 149, 24%);
    --green-700: rgba(72, 240, 149, 16%);
    --green-800: rgba(72, 240, 149, 8%);
    --green-900: rgba(72, 240, 149, 4%);

    --pink-100: rgba(255, 134, 200, 100%);
    --pink-200: rgba(255, 134, 200, 80%);
    --pink-300: rgba(255, 134, 200, 64%);
    --pink-400: rgba(255, 134, 200, 48%);
    --pink-500: rgba(255, 134, 200, 32%);
    --pink-600: rgba(255, 134, 200, 24%);
    --pink-700: rgba(255, 134, 200, 16%);
    --pink-800: rgba(255, 134, 200, 8%);
    --pink-900: rgba(255, 134, 200, 4%);

    --blue-100: rgba(127, 200, 248, 100%);
    --blue-200: rgba(127, 200, 248, 80%);
    --blue-300: rgba(127, 200, 248, 64%);
    --blue-400: rgba(127, 200, 248, 48%);
    --blue-500: rgba(127, 200, 248, 32%);
    --blue-600: rgba(127, 200, 248, 24%);
    --blue-700: rgba(127, 200, 248, 16%);
    --blue-800: rgba(127, 200, 248, 8%);
    --blue-900: rgba(127, 200, 248, 4%);

    --brown-100: rgba(75, 61, 11, 100%);
    --brown-200: rgba(75, 61, 11, 80%);
    --brown-300: rgba(75, 61, 11, 64%);
    --brown-400: rgba(75, 61, 11, 48%);
    --brown-500: rgba(75, 61, 11, 32%);
    --brown-600: rgba(75, 61, 11, 24%);
    --brown-700: rgba(75, 61, 11, 16%);
    --brown-800: rgba(75, 61, 11, 8%);
    --brown-900: rgba(75, 61, 11, 4%);

    --black-100: rgba(0, 0, 0, 100%);
    --black-200: rgba(0, 0, 0, 80%);
    --black-300: rgba(0, 0, 0, 64%);
    --black-400: rgba(0, 0, 0, 48%);
    --black-500: rgba(0, 0, 0, 32%);
    --black-600: rgba(0, 0, 0, 24%);
    --black-700: rgba(0, 0, 0, 16%);
    --black-800: rgba(0, 0, 0, 8%);
    --black-900: rgba(0, 0, 0, 4%);

    --gray-100: rgba(56, 56, 56, 100%);
    --gray-200: rgba(56, 56, 56, 80%);
    --gray-300: rgba(56, 56, 56, 64%);
    --gray-400: rgba(56, 56, 56, 48%);
    --gray-500: rgba(56, 56, 56, 32%);
    --gray-600: rgba(56, 56, 56, 24%);
    --gray-700: rgba(56, 56, 56, 16%);
    --gray-800: rgba(56, 56, 56, 8%);
    --gray-900: rgba(56, 56, 56, 4%);

    --white-100: rgba(255, 255, 255, 100%);
    --white-200: rgba(255, 255, 255, 80%);
    --white-300: rgba(255, 255, 255, 64%);
    --white-400: rgba(255, 255, 255, 48%);
    --white-500: rgba(255, 255, 255, 32%);
    --white-600: rgba(255, 255, 255, 24%);
    --white-700: rgba(255, 255, 255, 16%);
    --white-800: rgba(255, 255, 255, 8%);
    --white-900: rgba(255, 255, 255, 4%);

    --double-100: rgba(123, 241, 168, 100%);
    --double-200: rgba(123, 241, 168, 80%);
    --double-300: rgba(123, 241, 168, 64%);
    --double-400: rgba(123, 241, 168, 48%);
    --double-500: rgba(123, 241, 168, 32%);
    --double-600: rgba(123, 241, 168, 24%);
    --double-700: rgba(123, 241, 168, 16%);
    --double-800: rgba(123, 241, 168, 8%);
    --double-900: rgba(123, 241, 168, 4%);

    --down-100: rgba(254, 195, 166, 100%);
    --down-200: rgba(254, 195, 166, 80%);
    --down-300: rgba(254, 195, 166, 64%);
    --down-400: rgba(254, 195, 166, 48%);
    --down-500: rgba(254, 195, 166, 32%);
    --down-600: rgba(254, 195, 166, 24%);
    --down-700: rgba(254, 195, 166, 16%);
    --down-800: rgba(254, 195, 166, 8%);
    --down-900: rgba(254, 195, 166, 4%);

    --reroll-100: rgba(252, 172, 111, 100%);
    --reroll-200: rgba(252, 172, 111, 80%);
    --reroll-300: rgba(252, 172, 111, 64%);
    --reroll-400: rgba(252, 172, 111, 48%);
    --reroll-500: rgba(252, 172, 111, 32%);
    --reroll-600: rgba(252, 172, 111, 24%);
    --reroll-700: rgba(252, 172, 111, 16%);
    --reroll-800: rgba(252, 172, 111, 8%);
    --reroll-900: rgba(252, 172, 111, 4%);

    --wildcard-100: rgba(255, 217, 125, 100%);
    --wildcard-200: rgba(255, 217, 125, 80%);
    --wildcard-300: rgba(255, 217, 125, 64%);
    --wildcard-400: rgba(255, 217, 125, 48%);
    --wildcard-500: rgba(255, 217, 125, 32%);
    --wildcard-600: rgba(255, 217, 125, 24%);
    --wildcard-700: rgba(255, 217, 125, 16%);
    --wildcard-800: rgba(255, 217, 125, 8%);
    --wildcard-900: rgba(255, 217, 125, 4%);

    --swap-100: rgba(247, 114, 114, 100%);
    --swap-200: rgba(247, 114, 114, 80%);
    --swap-300: rgba(247, 114, 114, 64%);
    --swap-400: rgba(247, 114, 114, 48%);
    --swap-500: rgba(247, 114, 114, 32%);
    --swap-600: rgba(247, 114, 114, 24%);
    --swap-700: rgba(247, 114, 114, 16%);
    --swap-800: rgba(247, 114, 114, 8%);
    --swap-900: rgba(247, 114, 114, 4%);

    --halve-100: rgba(255, 155, 133, 100%);
    --halve-200: rgba(255, 155, 133, 80%);
    --halve-300: rgba(255, 155, 133, 64%);
    --halve-400: rgba(255, 155, 133, 48%);
    --halve-500: rgba(255, 155, 133, 32%);
    --halve-600: rgba(255, 155, 133, 24%);
    --halve-700: rgba(255, 155, 133, 16%);
    --halve-800: rgba(255, 155, 133, 8%);
    --halve-900: rgba(255, 155, 133, 4%);

    --up-100: rgba(178, 247, 239, 100%);
    --up-200: rgba(178, 247, 239, 80%);
    --up-300: rgba(178, 247, 239, 64%);
    --up-400: rgba(178, 247, 239, 48%);
    --up-500: rgba(178, 247, 239, 32%);
    --up-600: rgba(178, 247, 239, 24%);
    --up-700: rgba(178, 247, 239, 16%);
    --up-800: rgba(178, 247, 239, 8%);
    --up-900: rgba(178, 247, 239, 4%);

    --low-100: rgba(112, 214, 255, 100%);
    --low-200: rgba(112, 214, 255, 80%);
    --low-300: rgba(112, 214, 255, 64%);
    --low-400: rgba(112, 214, 255, 48%);
    --low-500: rgba(112, 214, 255, 32%);
    --low-600: rgba(112, 214, 255, 24%);
    --low-700: rgba(112, 214, 255, 16%);
    --low-800: rgba(112, 214, 255, 8%);
    --low-900: rgba(112, 214, 255, 4%);

    --foresight-100: rgba(165, 148, 249, 100%);
    --foresight-200: rgba(165, 148, 249, 80%);
    --foresight-300: rgba(165, 148, 249, 64%);
    --foresight-400: rgba(165, 148, 249, 48%);
    --foresight-500: rgba(165, 148, 249, 32%);
    --foresight-600: rgba(165, 148, 249, 24%);
    --foresight-700: rgba(165, 148, 249, 16%);
    --foresight-800: rgba(165, 148, 249, 8%);
    --foresight-900: rgba(165, 148, 249, 4%);

    --high-100: rgba(251, 111, 146, 100%);
    --high-200: rgba(251, 111, 146, 80%);
    --high-300: rgba(251, 111, 146, 64%);
    --high-400: rgba(251, 111, 146, 48%);
    --high-500: rgba(251, 111, 146, 32%);
    --high-600: rgba(251, 111, 146, 24%);
    --high-700: rgba(251, 111, 146, 16%);
    --high-800: rgba(251, 111, 146, 8%);
    --high-900: rgba(251, 111, 146, 4%);

    --ribbon-100: rgba(123, 241, 168, 100%);
    --ribbon-200: rgba(123, 241, 168, 80%);
    --ribbon-300: rgba(123, 241, 168, 64%);
    --ribbon-400: rgba(123, 241, 168, 48%);
    --ribbon-500: rgba(123, 241, 168, 32%);
    --ribbon-600: rgba(123, 241, 168, 24%);
    --ribbon-700: rgba(123, 241, 168, 16%);
    --ribbon-800: rgba(123, 241, 168, 8%);
    --ribbon-900: rgba(123, 241, 168, 4%);

    --gem-100: rgba(255, 217, 125, 100%);
    --gem-200: rgba(255, 217, 125, 80%);
    --gem-300: rgba(255, 217, 125, 64%);
    --gem-400: rgba(255, 217, 125, 48%);
    --gem-500: rgba(255, 217, 125, 32%);
    --gem-600: rgba(255, 217, 125, 24%);
    --gem-700: rgba(255, 217, 125, 16%);
    --gem-800: rgba(255, 217, 125, 8%);
    --gem-900: rgba(255, 217, 125, 4%);

    --magnet-100: rgba(255, 155, 133, 100%);
    --magnet-200: rgba(255, 155, 133, 80%);
    --magnet-300: rgba(255, 155, 133, 64%);
    --magnet-400: rgba(255, 155, 133, 48%);
    --magnet-500: rgba(255, 155, 133, 32%);
    --magnet-600: rgba(255, 155, 133, 24%);
    --magnet-700: rgba(255, 155, 133, 16%);
    --magnet-800: rgba(255, 155, 133, 8%);
    --magnet-900: rgba(255, 155, 133, 4%);

    --windy-100: rgba(255, 217, 125, 100%);
    --windy-200: rgba(255, 217, 125, 80%);
    --windy-300: rgba(255, 217, 125, 64%);
    --windy-400: rgba(255, 217, 125, 48%);
    --windy-500: rgba(255, 217, 125, 32%);
    --windy-600: rgba(255, 217, 125, 24%);
    --windy-700: rgba(255, 217, 125, 16%);
    --windy-800: rgba(255, 217, 125, 8%);
    --windy-900: rgba(255, 217, 125, 4%);

    --lucky-100: rgba(112, 214, 255, 100%);
    --lucky-200: rgba(112, 214, 255, 80%);
    --lucky-300: rgba(112, 214, 255, 64%);
    --lucky-400: rgba(112, 214, 255, 48%);
    --lucky-500: rgba(112, 214, 255, 32%);
    --lucky-600: rgba(112, 214, 255, 24%);
    --lucky-700: rgba(112, 214, 255, 16%);
    --lucky-800: rgba(112, 214, 255, 8%);
    --lucky-900: rgba(112, 214, 255, 4%);

    --slots-100: rgba(251, 209, 219, 100%);
    --slots-200: rgba(251, 209, 219, 80%);
    --slots-300: rgba(251, 209, 219, 64%);
    --slots-400: rgba(251, 209, 219, 48%);
    --slots-500: rgba(251, 209, 219, 32%);
    --slots-600: rgba(251, 209, 219, 24%);
    --slots-700: rgba(251, 209, 219, 16%);
    --slots-800: rgba(251, 209, 219, 8%);
    --slots-900: rgba(251, 209, 219, 4%);

    --bomb-100: rgba(247, 114, 114, 100%);
    --bomb-200: rgba(247, 114, 114, 80%);
    --bomb-300: rgba(247, 114, 114, 64%);
    --bomb-400: rgba(247, 114, 114, 48%);
    --bomb-500: rgba(247, 114, 114, 32%);
    --bomb-600: rgba(247, 114, 114, 24%);
    --bomb-700: rgba(247, 114, 114, 16%);
    --bomb-800: rgba(247, 114, 114, 8%);
    --bomb-900: rgba(247, 114, 114, 4%);

    --ufo-100: rgba(123, 241, 168, 100%);
    --ufo-200: rgba(123, 241, 168, 80%);
    --ufo-300: rgba(123, 241, 168, 64%);
    --ufo-400: rgba(123, 241, 168, 48%);
    --ufo-500: rgba(123, 241, 168, 32%);
    --ufo-600: rgba(123, 241, 168, 24%);
    --ufo-700: rgba(123, 241, 168, 16%);
    --ufo-800: rgba(123, 241, 168, 8%);
    --ufo-900: rgba(123, 241, 168, 4%);

    --glitchbomb-100: rgba(54, 248, 24, 100%);
    --glitchbomb-200: rgba(54, 248, 24, 80%);
    --glitchbomb-300: rgba(54, 248, 24, 64%);
    --glitchbomb-400: rgba(54, 248, 24, 48%);
    --glitchbomb-500: rgba(54, 248, 24, 32%);
    --glitchbomb-600: rgba(54, 248, 24, 24%);
    --glitchbomb-700: rgba(54, 248, 24, 16%);
    --glitchbomb-800: rgba(54, 248, 24, 8%);
    --glitchbomb-900: rgba(54, 248, 24, 4%);
  }
}