@layer base {
  :root {
    --radius: 0.5rem;

    --purple-100: rgba(89, 31, 255, 100%);
    --purple-200: rgba(89, 31, 255, 80%);
    --purple-300: rgba(89, 31, 255, 64%);
    --purple-400: rgba(89, 31, 255, 48%);
    --purple-500: rgba(89, 31, 255, 32%);
    --purple-600: rgba(89, 31, 255, 24%);
    --purple-700: rgba(89, 31, 255, 16%);
    --purple-800: rgba(89, 31, 255, 8%);
    --purple-900: rgba(89, 31, 255, 4%);

    --mauve-100: rgba(133, 129, 255, 100%);
    --mauve-200: rgba(133, 129, 255, 80%);
    --mauve-300: rgba(133, 129, 255, 64%);
    --mauve-400: rgba(133, 129, 255, 48%);
    --mauve-500: rgba(133, 129, 255, 32%);
    --mauve-600: rgba(133, 129, 255, 24%);
    --mauve-700: rgba(133, 129, 255, 16%);
    --mauve-800: rgba(133, 129, 255, 8%);
    --mauve-900: rgba(133, 129, 255, 4%);

    --yellow-100: rgba(255, 200, 0, 100%);
    --yellow-200: rgba(255, 200, 0, 80%);
    --yellow-300: rgba(255, 200, 0, 64%);
    --yellow-400: rgba(255, 200, 0, 48%);
    --yellow-500: rgba(255, 200, 0, 32%);
    --yellow-600: rgba(255, 200, 0, 24%);
    --yellow-700: rgba(255, 200, 0, 16%);
    --yellow-800: rgba(255, 200, 0, 8%);
    --yellow-900: rgba(255, 200, 0, 4%);

    --red-100: rgba(247, 114, 114, 100%);
    --red-200: rgba(247, 114, 114, 80%);
    --red-300: rgba(247, 114, 114, 64%);
    --red-400: rgba(247, 114, 114, 48%);
    --red-500: rgba(247, 114, 114, 32%);
    --red-600: rgba(247, 114, 114, 24%);
    --red-700: rgba(247, 114, 114, 16%);
    --red-800: rgba(247, 114, 114, 8%);
    --red-900: rgba(247, 114, 114, 4%);

    --green-100: rgba(72, 240, 149, 100%);
    --green-200: rgba(72, 240, 149, 80%);
    --green-300: rgba(72, 240, 149, 64%);
    --green-400: rgba(72, 240, 149, 48%);
    --green-500: rgba(72, 240, 149, 32%);
    --green-600: rgba(72, 240, 149, 24%);
    --green-700: rgba(72, 240, 149, 16%);
    --green-800: rgba(72, 240, 149, 8%);
    --green-900: rgba(72, 240, 149, 4%);

    --pink-100: rgba(255, 134, 200, 100%);
    --pink-200: rgba(255, 134, 200, 80%);
    --pink-300: rgba(255, 134, 200, 64%);
    --pink-400: rgba(255, 134, 200, 48%);
    --pink-500: rgba(255, 134, 200, 32%);
    --pink-600: rgba(255, 134, 200, 24%);
    --pink-700: rgba(255, 134, 200, 16%);
    --pink-800: rgba(255, 134, 200, 8%);
    --pink-900: rgba(255, 134, 200, 4%);

    --blue-100: rgba(127, 200, 248, 100%);
    --blue-200: rgba(127, 200, 248, 80%);
    --blue-300: rgba(127, 200, 248, 64%);
    --blue-400: rgba(127, 200, 248, 48%);
    --blue-500: rgba(127, 200, 248, 32%);
    --blue-600: rgba(127, 200, 248, 24%);
    --blue-700: rgba(127, 200, 248, 16%);
    --blue-800: rgba(127, 200, 248, 8%);
    --blue-900: rgba(127, 200, 248, 4%);

    --brown-100: rgba(75, 61, 11, 100%);
    --brown-200: rgba(75, 61, 11, 80%);
    --brown-300: rgba(75, 61, 11, 64%);
    --brown-400: rgba(75, 61, 11, 48%);
    --brown-500: rgba(75, 61, 11, 32%);
    --brown-600: rgba(75, 61, 11, 24%);
    --brown-700: rgba(75, 61, 11, 16%);
    --brown-800: rgba(75, 61, 11, 8%);
    --brown-900: rgba(75, 61, 11, 4%);

    --black-100: rgba(0, 0, 0, 100%);
    --black-200: rgba(0, 0, 0, 80%);
    --black-300: rgba(0, 0, 0, 64%);
    --black-400: rgba(0, 0, 0, 48%);
    --black-500: rgba(0, 0, 0, 32%);
    --black-600: rgba(0, 0, 0, 24%);
    --black-700: rgba(0, 0, 0, 16%);
    --black-800: rgba(0, 0, 0, 8%);
    --black-900: rgba(0, 0, 0, 4%);

    --gray-100: rgba(56, 56, 56, 100%);
    --gray-200: rgba(56, 56, 56, 80%);
    --gray-300: rgba(56, 56, 56, 64%);
    --gray-400: rgba(56, 56, 56, 48%);
    --gray-500: rgba(56, 56, 56, 32%);
    --gray-600: rgba(56, 56, 56, 24%);
    --gray-700: rgba(56, 56, 56, 16%);
    --gray-800: rgba(56, 56, 56, 8%);
    --gray-900: rgba(56, 56, 56, 4%);

    --white-100: rgba(255, 255, 255, 100%);
    --white-200: rgba(255, 255, 255, 80%);
    --white-300: rgba(255, 255, 255, 64%);
    --white-400: rgba(255, 255, 255, 48%);
    --white-500: rgba(255, 255, 255, 32%);
    --white-600: rgba(255, 255, 255, 24%);
    --white-700: rgba(255, 255, 255, 16%);
    --white-800: rgba(255, 255, 255, 8%);
    --white-900: rgba(255, 255, 255, 4%);

    --power-100: rgba(254, 195, 166, 100%);
    --power-150: rgba(252, 172, 111, 100%);
    --power-200: rgba(255, 217, 125, 100%);
    --power-300: rgba(247, 114, 114, 100%);
    --power-350: rgba(255, 155, 133, 100%);
    --power-400: rgba(178, 247, 239, 100%);
    --power-450: rgba(123, 241, 168, 100%);
    --power-550: rgba(112, 214, 255, 100%);
    --power-600: rgba(165, 148, 249, 100%);
    --power-650: rgba(251, 111, 146, 100%);
    --power-700: rgba(255, 217, 125, 100%);

    --glitchbomb-100: rgba(54, 248, 24, 100%);
    --glitchbomb-200: rgba(54, 248, 24, 80%);
    --glitchbomb-300: rgba(54, 248, 24, 64%);
    --glitchbomb-400: rgba(54, 248, 24, 48%);
    --glitchbomb-500: rgba(54, 248, 24, 32%);
    --glitchbomb-600: rgba(54, 248, 24, 24%);
    --glitchbomb-700: rgba(54, 248, 24, 16%);
    --glitchbomb-800: rgba(54, 248, 24, 8%);
    --glitchbomb-900: rgba(54, 248, 24, 4%);
  }
}