@layer base {
  :root {
    --purple-100: rgba(89, 31, 255, 100%);
    --purple-200: rgba(89, 31, 255, 80%);
    --purple-300: rgba(133, 129, 255, 100%);
    --purple-400: rgba(133, 129, 255, 48%);
    --purple-500: rgba(133, 129, 255, 32%);
    --purple-600: rgba(133, 129, 255, 16%);
    --purple-700: rgba(133, 129, 255, 8%);
    --purple-800: rgba(133, 129, 255, 4%);

    --orange-100: rgba(255, 200, 0, 100%);
    --orange-200: rgba(255, 200, 0, 80%);
    --orange-300: rgba(255, 200, 0, 64%);
    --orange-400: rgba(255, 200, 0, 48%);
    --orange-500: rgba(255, 200, 0, 32%);
    --orange-600: rgba(255, 200, 0, 24%);
    --orange-700: rgba(255, 200, 0, 16%);
    --orange-800: rgba(255, 200, 0, 8%);
    --orange-900: rgba(255, 200, 0, 4%);

    --red-100: rgba(247, 114, 114, 100%);
    --red-200: rgba(247, 114, 114, 80%);
    --red-300: rgba(247, 114, 114, 64%);
    --red-400: rgba(247, 114, 114, 48%);
    --red-500: rgba(247, 114, 114, 32%);
    --red-600: rgba(247, 114, 114, 24%);
    --red-700: rgba(247, 114, 114, 16%);
    --red-800: rgba(247, 114, 114, 8%);
    --red-900: rgba(247, 114, 114, 4%);

    --green-100: rgba(72, 240, 191, 100%);
    --green-200: rgba(72, 240, 191, 80%);
    --green-300: rgba(72, 240, 191, 64%);
    --green-400: rgba(72, 240, 191, 48%);
    --green-500: rgba(72, 240, 191, 32%);
    --green-600: rgba(72, 240, 191, 24%);
    --green-700: rgba(72, 240, 191, 16%);
    --green-800: rgba(72, 240, 191, 8%);
    --green-900: rgba(72, 240, 191, 4%);

    --pink-100: rgba(255, 91, 225, 100%);
    --pink-200: rgba(255, 91, 225, 80%);
    --pink-300: rgba(255, 91, 225, 64%);
    --pink-400: rgba(255, 91, 225, 48%);
    --pink-500: rgba(255, 91, 225, 32%);
    --pink-600: rgba(255, 91, 225, 24%);
    --pink-700: rgba(255, 91, 225, 16%);
    --pink-800: rgba(255, 91, 225, 8%);
    --pink-900: rgba(255, 91, 225, 4%);

    --brown-100: rgba(75, 61, 11, 100%);
    --brown-200: rgba(75, 61, 11, 80%);
    --brown-300: rgba(75, 61, 11, 64%);
    --brown-400: rgba(75, 61, 11, 48%);
    --brown-500: rgba(75, 61, 11, 32%);
    --brown-600: rgba(75, 61, 11, 24%);
    --brown-700: rgba(75, 61, 11, 16%);
    --brown-800: rgba(75, 61, 11, 8%);
    --brown-900: rgba(75, 61, 11, 4%);

    --black-100: rgba(0, 0, 0, 100%);
    --black-200: rgba(0, 0, 0, 80%);
    --black-300: rgba(0, 0, 0, 64%);
    --black-400: rgba(0, 0, 0, 48%);
    --black-500: rgba(0, 0, 0, 32%);
    --black-600: rgba(0, 0, 0, 24%);
    --black-700: rgba(0, 0, 0, 16%);
    --black-800: rgba(0, 0, 0, 8%);
    --black-900: rgba(0, 0, 0, 4%);

    --white-100: rgba(255, 255, 255, 100%);
    --white-200: rgba(255, 255, 255, 80%);
    --white-300: rgba(255, 255, 255, 64%);
    --white-400: rgba(255, 255, 255, 48%);
    --white-500: rgba(255, 255, 255, 32%);
    --white-600: rgba(255, 255, 255, 24%);
    --white-700: rgba(255, 255, 255, 16%);
    --white-800: rgba(255, 255, 255, 8%);
    --white-900: rgba(255, 255, 255, 4%);
  }
}
