@import "./themes/default.css";
@import "./themes/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-purple-100;
    font-family: "PixelGame", monospace;
    color: white;
  }
  .theme {
    --animate-shiny-text: shiny-text 8s infinite;
  }
}

#root {
  overflow: hidden;
  height: 100%;
}

html,
body {
  overflow: hidden;
  touch-action: manipulation;
  height: 100%;
}

@layer utilities {
  @media (min-width: 768px) {
    .places-title {
      word-break: normal;
      overflow-wrap: normal;
    }
  }

  @keyframes reward-diff {
    0% {
      opacity: 1;
      transform: translate(-50%, 0) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 0) translateY(-40px);
    }
  }

  .animate-reward-diff {
    animation: reward-diff 2s ease-out forwards;
  }

  @keyframes shimmer-reflect {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .animate-shimmer-reflect {
    background: linear-gradient(
      90deg,
      #ffffff 0%,
      #ffffff 25%,
      rgba(255, 255, 255, 0.24) 35%,
      rgba(255, 255, 255, 0.24) 45%,
      #ffffff 55%,
      #ffffff 100%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shimmer-reflect 6s linear infinite;
  }
}

@theme inline {
  @keyframes shiny-text {
  0%, 90%, 100% {
    background-position: calc(-100% - var(--shiny-width)) 0;
    }
  30%, 60% {
    background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
}