@import "./themes/default.css";
@import "./themes/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-purple-100;
    font-family: "PixelGame", monospace;
    color: white;
  }
}

#root {
  overflow: hidden;
  height: 100%;
}

html,
body {
  overflow: hidden;
  touch-action: manipulation;
  height: 100%;
}

@layer utilities {
  @media (min-width: 768px) {
    .places-title {
      word-break: normal;
      overflow-wrap: normal;
    }
  }

  @keyframes reward-diff {
    0% {
      opacity: 1;
      transform: translate(-50%, 0) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 0) translateY(-40px);
    }
  }

  .animate-reward-diff {
    animation: reward-diff 2s ease-out forwards;
  }
}
