@font-face {
  font-family: "Ekamai";
  src: url("/assets/fonts/Ekamai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularLL";
  src: url("/assets/fonts/CircularLL-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularLL";
  src: url("/assets/fonts/CircularLL-Book.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularLL";
  src: url("/assets/fonts/CircularLL-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
